{% extends "layout.html" %}

{% block title %}About Us - Gratia{% endblock %}

{% block content %}
<h1><center>About Gratia</center></h1>

<div class="about-container">
  <center><p>
    Lorem ipsum type shi.
  </p>
  <p>
    2nd paragraph.
  </p></center>
</div>

<div class="container">
  <div class="card" style="width: 25rem">
    <img src="static/Images/placeholder.png" class="card-image" alt="Mission">
    <div class="card-name">Our Mission</div>
    <p class="card-about">yip yap</p>
  </div>

  <div class="card" style="width: 25rem">
    <img src="static/Images/placeholder.png" class="card-image" alt="Impact">
    <div class="card-name">Our Impact</div>
    <p class="card-about">lol</p>
  </div>
</div>
{% endblock %}
