<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
  <meta charset="UTF-8">
  <title>{% block title %}Gratia{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav>
  {% if not user%}
    <a href="{{ url_for('landing_page') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Gratia Logo" class="logo"></a>
  {%else%}
    <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Gratia Logo" class="logo"></a>
  {%endif%}
    <ul>
      {% if not user %}
        <li><a href="{{ url_for('landing_page') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('signin_page') }}">Sign In</a></li>
      {% endif %}

      {% if user %}
        <li><a href="{{ url_for('home_page') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('add') }}">Add Donation</a></li>
        <li><a href="{{ url_for('dashboard')}}"> Dashboard</a></li>
        {% if user['role'] == "Donor"%}
          <li><a href="{{ url_for('matches') }}">My Donations</a></li>
        {% endif %}
        {% if user['role'] == "Recipient"%}
          <li><a href="{{ url_for('matches') }}">My Requests</a></li>
        {% endif %}
        <li><a href="{{ url_for('profile', user_id=user['user_id']) }}">Profile</a></li>
        <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
      {% endif %}
    </ul>

  </nav>

  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>
</html>
